@media print {
  body * {
    visibility: hidden;
  }

  body {
    background: white;
    color: black;
    margin: 0;
    padding: 0;
  }

  #print-container,
  #print-container * {
    visibility: visible;
  }

  #print-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 18mm;
  }

  .page-break {
    page-break-after: always;
  }
}
